<div role="banner" aria-label="Brand Logo">
    <nav role="navigation" aria-label="Top Navigation">
        <div class="brand-logo"><a href="/"><img src="../../../assets/images/lime-sm.jpg" alt="Less is more Engineering" title="Less Is More Engineering"/></a></div>
        <div class="top-nav-right">
            <ul class="nav-list">
                <li class="nav-list-item">
                    <label for="global_search" class="sr-only">Site Search</label>
                    <input id="global_search" type="text" placeholder="Search" />
                </li>
                <li class="nav-list-item">
                    <button type="button" aria-label="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
                </li>
            </ul>
        </div>
    </nav>


</div>